body {
  font-family: 'Open Sans', sans-serif;
  color: #577198; }

section.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #3282ff, #5997f6, #5997f6, #3282ff); }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100%; }

@media screen and (min-width: 992px) {
  .container {
    max-width: 800px; } }

h1 {
  font-size: 32px;
  color: #FFFFFF;
  letter-spacing: -0.89px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 30px; }

table {
  width: 100%; }
  table thead {
    height: 56px;
    background: #E5EEFB; }
    table thead tr {
      width: 100%;
      background-color: #E5EEFB;
      height: 56px;
      width: 100%; }
      table thead tr th {
        font-size: 14px; }
        table thead tr th:first-child {
          border-radius: 5px 0px 0px 0px; }
        table thead tr th:last-child {
          border-radius: 0px 5px 0px 0px; }
  table #table-wrapper tr td {
    display: table-cell;
    max-width: 20px;
    min-width: 20px;
    text-align: center;
    vertical-align: middle;
    height: 56px;
    border-right: 1px solid #DAE0E9;
    vertical-align: middle; }
    table #table-wrapper tr td:nth-child(4) {
      max-width: 30px;
      min-width: 30px; }
    table #table-wrapper tr td:nth-child(odd) {
      font-weight: 600; }
  table #table-wrapper tr:last-child td:first-child {
    border-radius: 0px 0px 0px 5px; }
  table #table-wrapper tr:last-child td:last-child {
    border-radius: 0px 0px 5px 0px; }

#myTable_paginate {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  color: #272F3E; }
  #myTable_paginate a {
    font-size: 16px;
    font-weight: 600;
    cursor: pointer; }
    #myTable_paginate a.paginate_button.previous {
      color: #ffffff; }
      #myTable_paginate a.paginate_button.previous:before {
        content: "\2039";
        color: #ffffff;
        margin-right: 5px; }
    #myTable_paginate a.paginate_button.next {
      color: #ffffff; }
      #myTable_paginate a.paginate_button.next:after {
        content: "\203A";
        color: #ffffff;
        margin-left: 5px; }
  #myTable_paginate span a {
    margin: 0 10px; }
    #myTable_paginate span a.current {
      color: #ffffff; }

footer {
  text-align: center;
  margin-top: 70px; }
  footer svg {
    height: 22px;
    fill: white; }

tbody tr.row.odd {
  background-color: #f9f9f9; }

table.dataTable tbody tr {
  background-color: #ffffff; }
